.video {
  padding-top: 100px;
}

.video_box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.video_box_video {
  padding: 15px 10px;
  margin: 10px 5px;
  background-color: #ffffff;
  box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
  border-radius: 0 0 5px 5px;
}

.video_box_p {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .video_box_video {
    background-color: #ffffff;
    box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
    border-radius: 0 0 5px 5px;
  }
}
